# Challenge 1

In [1]:
num1 = int(input('First: '))
num2 = int(input('Second: '))
print(f'Sum: {num1+num2}')

First: 2
Second: 3
Sum: 5

# Challenge 2

In [3]:
num = int(input('Input: '))
result = 1
for i in range (1,num+1):
  result = result*i
print(f'Factorial: {result}')

Input: 5
Factorial: 120

# Challenge 3

In [15]:
n = int(input('Input: '))
for l in range(n):
  num = int(input())
  if num > 1:  
   for i in range(2,num):  
       if (num % i) == 0:  
           print("NO")  
           break  
   else:  
       print("YES")  
         
  elif num <= 1:  
    print("NO.")

Input: 6
16
NO
127
YES
256
NO
513
NO
2048
NO
5097
NO

# Challenge 4

In [19]:
angka = int(input('Input: '))
print(f'W{"o"*angka}w')

Input: 7
Wooooooow

# Challenge 5

In [20]:
while num != 42:
  num = int(input())
  print(num)

3
3
15
15
52
52
42
42

# Challenge 6

In [22]:
sum = 0
for i in range (6):
  num = int(input())
  sum += num
print(int(sum/6))

3
7
5
2
1
6
4

# Challenge 7

In [23]:
tc = int(input('Input: '))
for i in range (tc):
  n = int(input())
  total = 0
  while n > 0 :
    temp = n%10
    total += temp
    n = n // 10
  print(total)

Input: 3
123123123
18
3434
14
1234567890
45